.App {
  text-align: center;
}

.App-logo {
  height: 200px;
  border-radius: 50%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: white;
}

.App-link {
  color: white;
  margin: 0 10px;
}

.first-name, .last-name {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
}

.first-name {
  font-weight: 200;
  margin-right: 3px;
}

.last-name {
  font-weight: 700;
}

.name-container {
  margin-bottom: 30px;
}

.social-container {
  margin: 30px;
  font-size: 30px;
}